body {
  margin: 0;
}

.header {
  background-color: #fff;
  padding: 15px 0px;
}

.container {
  width: 100%;
  padding: 0px 15px;
  box-sizing: border-box;
}

.header_container {
  display: flex;
  align-items: center;
}

.navigation {
  display: none;
}

/* OPEN NAVIGATION START */

.navigation_open {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: -100px;
  right: 0;
  left: 0;
  background-color: #475f45;
  overflow: hidden;
}

.navigation_heading {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 25.3px;
  text-align: center;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 0;
}

.navigation_links {
  list-style: none;
  text-align: center;
  margin-top: 72px;
  padding: 0;
}

.navigation_links_item {
  margin-bottom: 40px;
}

.navigation_links_element {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.15em;
}

.button_membership {
  width: 169px;
  background-color: #475f45;
  color: #fff;
  border-color: #fff;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.15em;
}

.navigation_shadow {
  width: 434px;
  opacity: 0.07;
  position: absolute;
  bottom: -79px;
  right: -207px;
}

.navigation_close_img {
  width: 24px;
  position: absolute;
  top: 33px;
  right: 15px;
}

/* OPEN NAVIGATION END */

.header_logo {
  width: 48.23px;
}

.header_div {
  margin-left: 11.44px;
}

.header_heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 19.09px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #343d33;
  margin: 0;
}

.header_paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12.45px;
  line-height: 14.59px;
  letter-spacing: 0.01em;
  color: #333333;
  font-style: italic;
  margin: 0;
}

.header_menu {
  width: 24px;
  margin-left: auto;
}

.introduction {
  padding-top: 26px;
  padding-bottom: 60px;
  background-color: #fff;
}

.introduction_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction_div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.introduction_heading {
  margin: 0;
  color: #343d33;
  font-family: "Libre Baskerville", serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 37.4px;
  text-transform: capitalize;
  text-align: center;
}

.introduction_paragraph {
  margin-top: 16px;
  margin-bottom: 0px;
  color: #414840;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
}

.introduction_span {
  display: flex;
}

.button {
  padding: 15px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 16.41px;
  letter-spacing: 0.15em;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0%;
  border-style: solid;
}

.button_ticket {
  width: 168.5px;
  background-color: #475f45;
  color: #fff;
  border-color: #475f45;
  margin-top: 24px;
}

.button_learn {
  width: 168.5px;
  background-color: #fff;
  color: #475f45;
  border-color: #475f45;
  margin-top: 24px;
  margin-left: 8px;
}

.introduction_img {
  width: 100%;
  margin-top: 56px;
}

.discover {
  background-color: #343d33;
  padding: 60px 0px;
  position: relative;
}

.discover_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover_img {
  width: 100%;
}

.armchair_img {
  margin-top: 16px;
}

.discover_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover_heading {
  font-family: "Libre Baskerville", serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 37.4px;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
}

.discover_paragraph {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 0;
}

.button_discover {
  background-color: #343d33;
  border-color: #fff;
  color: #fff;
  width: 165px;
  margin-top: 24px;
}

.shadow {
  opacity: 0.07;
}

.discover_shadow {
  width: 195px;
  position: absolute;
  right: 0px;
  bottom: 73px;
}

.news {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 40px;
}

.news_heading {
  font-family: "Libre Baskerville", serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 37.4px;
  text-transform: capitalize;
  color: #343d33;
  margin: 0;
  text-align: center;
}

.news_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

.news_paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #475f45;
  margin: 0px 12px 0px 20px;
}

.news_line {
  width: 48px;
  height: 2px;
  background-color: #475f45;
  opacity: 0.4;
}

.arrow_icon {
  width: 24px;
}

.post_img {
  width: 100%;
}

.plants_post {
    margin-top: 22px;
    margin-bottom: 44px;
}

.post_heading {
  font-family: "Libre Baskerville", serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 25.3px;
  color: #475f45;
  text-transform: capitalize;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.post_paragraph_desc {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #414840;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 0;
}

.post_paragraph_date {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #414840;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 0px;
}

.post_line {
  width: 100%;
  height: 2px;
  background-color: #c4c4c4;
  margin-bottom: 20px;
  margin-top: 20px;
}

.connect {
  background-color: #414840;
  padding: 48px 0px;
}

.connect_logo {
  width: 48px;
  margin-right: 11.97px;
}

.connect_container_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect_div_heading {
  font-family: "Roboto", sans-serif;
  font-size: 18.9px;
  font-weight: 500;
  line-height: 22.14px;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.connect_div_paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 12.32px;
  font-weight: 400;
  line-height: 14.44px;
  letter-spacing: 0.01em;
  color: #fff;
  font-style: italic;
  margin: 0;
}

.connect_paragraph_desc {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials_heading {
  font-family: "Libre Baskerville", serif;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.6px;
  text-align: center;
  color: #fff;
}

.socials_icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 192px;
  justify-content: space-between;
}

.socials_icons_img {
  width: 24px;
}

.footer {
  background-color: #343d33;
  padding: 29px 0px;
}

.footer_paragraph {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #fff;
}

@media all and (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 738px;
    padding: 0;
  }

  .introduction {
    padding: 56px 0px 57px 0px;
  }

  .introduction_heading {
    font-size: 45px;
    line-height: 49.5px;
  }

  .introduction_paragraph {
    font-size: 22px;
    line-height: 33px;
    margin-top: 74px;
  }

  .button_ticket,
  .button_learn {
    margin-top: 46px;
    width: 186px;
  }

  .button_learn {
    margin-left: 16px;
  }

  .introduction_img {
    width: 100%;
    margin-top: 48px;
  }

  .discover_container {
    align-items: flex-start;
  }

  .discover {
    padding: 57px 0px;
  }

  .armchair_img {
    margin-top: 30px;
  }

  .discover_div {
    display: flex;
    align-items: flex-start;
    width: 75%;
  }

  .discover_heading {
    margin-top: 30px;
    font-size: 45px;
    line-height: 49.5px;
    text-align: start;
  }

  .button_discover {
    margin-top: 47px;
    margin-bottom: 0;
    width: 185px;
    line-height: 16px;
    padding: 20px 40px;
  }

  .discover_paragraph {
    margin-top: 47px;
    margin-bottom: 0;
    text-align: start;
    font-size: 20px;
    line-height: 30px;
  }

  .shadow {
    width: 353.03px;
    bottom: -11px;
    right: 0px;
  }
}

.news_post {
  display: flex;
  justify-content: space-between;
}

.post_img {
  width: 384px;
}

.post_desc {
  width: 334px;
  display: flex;
  flex-direction: column;
}

.post_heading, .post_paragraph_desc, .post_paragraph_date {
  text-align: start;
  margin: 0;
}

@media all and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    width: 1200px;
    padding: 0;
  }

  .navigation_shadow {
    display: none;
  }

  .header_menu {
    display: none;
  }

  .navigation_close_img {
    display: none;
  }

  .navigation_heading {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .navigation_links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  .navigation_links_element {
    text-decoration: none;
    color: #414840;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.15em;
    margin-right: 30px;
  }

  .navigation_links_item {
    margin-bottom: 0;
  }

  .navigation_links :hover {
    color: #ff6600;
  }

  .button_membership {
    width: 169px;
    background-color: #fff;
    color: #475f45;
    border-color: #475f45;
  }

  .introduction {
    padding: 49px 0px 122px 0px;
  }

  .introduction_container {
    flex-direction: row;
    justify-content: space-between;
  }

  .introduction_div {
    width: 528px;
    align-items: flex-start;
  }

  .introduction_heading {
    font-size: 57px;
    line-height: 62.7px;
    text-align: start;
  }

  .introduction_paragraph {
    font-size: 25px;
    line-height: 37.5px;
    margin-top: 16px;
    text-align: start;
  }

  .introduction_img {
    width: 100%;
    margin: 0;
  }

  .button_ticket,
  .button_learn {
    margin-top: 32px;
  }

  .discover {
    padding: 96px 0;
  }

  .discover_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flowerpot_img {
    width: calc(50% - 50px);
    order: 1;
  }

  .discover_div {
    width: calc(50% - 50px);
    order: 2;
    margin: 0;
  }

  .discover_heading {
    margin-top: 0;
  }

  .armchair_img {
    width: 100%;
    order: 3;
    margin-top: 62px;
    z-index: 1;
  }

  .shadow {
    width: 534px;
    bottom: 249px;
  }
}
